@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to NRL Admin. </h1>
    <p class="lead">The essential app for NRL staff.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*<div>
    @Html.ActionLink("Ladder", "Index", "Performs")<br />
    @Html.ActionLink("Games", "Index", "Games")<br />
    @Html.ActionLink("Teams", "Index", "Teams")<br />
    @Html.ActionLink("Players", "Index", "Players")<br />
    @Html.ActionLink("Careers", "Index", "Careers")<br />
</div>*@

<div class="row">
    <div class="col-md-6">
        <h2>@Html.ActionLink("Ladder", "Index", "Performs")</h2>
        <p>View the current standings and rankings of the teams in the league. </p>

    </div>
    <div class="col-md-6">
        <h2>@Html.ActionLink("Games", "Index", "Games")</h2>
        <p>Schedule, update and view the results of the games in the league. </p>

    </div>
    <div class="col-md-6">
        <h2>@Html.ActionLink("Players", "Index", "Players")</h2>
        <p>Manage the information and statistics of the players in the league.</p>

    </div>
    <div class="col-md-6">
        <h2>@Html.ActionLink("Teams", "Index", "Teams")</h2>
        <p>Create, edit and delete the teams in the league.</p>

    </div>


    

