@model NRLAdmin.Models.Ladder


@{
    ViewBag.Title = "Ladder";
}

<h2>Ladder</h2>

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Team.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Draws)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Losts)
            </th>*@
        <th>TeamName</th>
        <th>Played</th>
        <th>Points</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Losts</th>
    </tr>

    @for (var i = 0; i < @Model.TeamNameList.Count; i++)
    {
        <tr>
            <th>@Model.TeamNameList[i]</th>
            <th>@Model.PlayedList[i]</th>
            <th>@Model.PointsList[i]</th>
            <th>@Model.WinsList[i]</th>
            <th>@Model.DrawsList[i]</th>
            <th>@Model.LostsList[i]</th>
        </tr>
    }


</table>
